/* @media all and (min-width : 240px) {}
@media (min-width:640px) and (max-width: 959px) {}
@media (min-width:960px) and (max-width: 1199px) {}
@media (min-width:1200px) {} */

@media all and (min-width : 240px) {
    .layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(233, 228, 221);
    }
}
@media (min-width:640px) and (max-width: 959px) {}
@media (min-width:960px) and (max-width: 1199px) {}
@media (min-width:1200px) {}