/* @media all and (min-width : 240px) {}
@media (min-width:640px) and (max-width: 959px) {}
@media (min-width:960px) and (max-width: 1199px) {}
@media (min-width:1200px) {} */
@media all and (min-width : 240px) {
    .header__wrapper {
        position: fixed;
        background-color: rgb(54, 52, 52);
        width: 100%;
        display: flex;
        align-items: center;
        height: 80px;
        color: rgb(255, 255, 255);
    }
    .header__card{
        border: 1px solid grey;
        padding: 10px 10px;
        border-radius: 3px;
        margin: 0 10px;
    }
    .header__card:hover{
        color:rgb(59, 57, 53);
        background-color: paleturquoise;
    }

    .header__card-text{
        display: inline-block;
        font-size: 16px;
        margin-left: 5px;
    }

}


@media (min-width:640px) and (max-width: 959px) {
    .header__wrapper {
        background-color: rgb(54, 52, 52);
    }
}


@media (min-width:960px) and (max-width: 1199px) {
    .header__wrapper {
        background-color: rgb(54, 52, 52);
    }
}


@media (min-width:1200px) {
    .header__wrapper {
        background-color: rgb(54, 52, 52);
        width: 1200px;
        margin: 0 auto;
    }
}